/* Associated files: footer.css, footer_night.css, footer.html */

body {
    /* The absolute position of the footer will use coordinates relative to a corner of the body.
       Without this rule, the footer appears in the middle of the viewport when the document is long enough to scroll. */
    position: relative;
    /* Allocate an amount of vertical space equal to the height of the footer, including its padding and border width.
       Without this rule, the footer will overlap the end of the document if the document is long enough (when it exceeds the height of the viewport minus the height of the footer). */
    padding-bottom: 36px;
}
footer {
    font-size: 86%;
    background-color: rgb(149,187,111);
    /* Set the distance of the content below the top of the green background. If this isn't high enough, then a glitch occurs where the border becomes slightly stair-stepped instead of a straight line,
       and I'm not sure why. */
    padding-top: 8px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#pawprints {
    height: 24px;
}
footer p, footer ul {
    padding-top: 3px;
}
/* Styling the footer navigation bar */
footer ul {
    /* Remove the rules intended for lists that use bullet points. */
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
    margin-left: 24px;
}
footer li {
    border-right: 1px solid black;
    padding-left: 6px;
    padding-right: 6px;
    display: inline;
}
footer li:last-child {
    border: none;
}
footer a, footer a:hover {
    color:black;
}