/* Associated files: gallery.html, gallery_main.html, gallery.js, gallery.css, gallery_night.css */
   
/* 0. Style the gallery section as a whole. */

#gallery {
    /* On smartphones in portrait or landscape mode, this setting will keep the widths of the side-gutters about the same as the widths of gutters between images. */
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
#gallery .container-fluid {
    width: 100%;
}
/* Style the gutter between the gallery and the header. */
#gallery {
    margin-top: 5px;
}
@media (min-width: 1200px) {
    #gallery {
        margin-top: 10px;
    }
}

/* 1. Style the navigation bar present on user's Gallery page for uploads and the user's Likes page. */

#gallery nav {
   margin-bottom: 5px;
}
@media (min-width: 544px) {
    #gallery nav {
        margin-bottom: 8px;
    }
}
@media (min-width: 1200px) {
    #gallery nav {
        margin-bottom: 10px;
    }
}
#gallery nav > ul > li {
    border-right: none;
}
#gallery nav {
    text-align: center;
}

/* 2. Style the gallery grid. */

#gallery .container-fluid ul {
    list-style: none;
}
#gallery .container-fluid li {
    text-align: center;
}
#gallery .container-fluid img, #gallery .container-fluid .gif-container {
    /* Image and videos will fit the width of the columns instead of overflowing them. Using width instead of max-width will prevent distracting variations in the gutter width, especially when the images
       are smaller than 350x350 and the screen is 1080p, 23". */
    width: 100%;
    height: auto;
}

/* Style the gutters between slides.  I want horizontal and vertical gutters to be the same length, so the bottom padding has to be equal to the total of left and right padding.
   In order to avoid affecting the gutter between the gallery and the header, bottom paddng isn't used. With Bootstrap's default of 15px on all devices, the smaller the device,
   the larger the gutters look relative to content. I used media queries to make gutter length proportional to device width. */
  
@media (max-width: 999px) {
    #gallery [class*="col"] {
        padding-left: 2px;
        padding-right: 2px;
    }
    #gallery [class*="col"] li {
        padding-bottom: 4px;
    }
}
@media (min-width: 1000px) {
    #gallery [class*="col"] {
        padding-left: 3px;
        padding-right: 3px;
    }
    #gallery [class*="col"] li {
        padding-bottom: 6px;
    }
}