/* Associated files: header_mobile.html, modals_mobile.html, header_mobile.js, header_mobile.css, header_mobile_night.css */
  
#filter-btn {
    background-color: hsl(144,100%,33%);
}
#filter-btn:hover, #filter-btn:active {
    background-color: hsl(144,100%,31%);
}
.list-menu a {
    color: white;
}
.list-menu a:hover, .list-menu a:active {
    color: rgb(211,211,211);
    text-decoration: none;
}

.switch-box {
    height: auto;
    border-color: grey;
}
.switch-box img {
    margin-top: 0px;
}