/* Associated files: pet_upload_and_search.css, pet_upload_and_search_night.css, pet_upload_and_search.js
   File description: This file contains all the CSS for searching and uploading to the Adoption, Lost, and Found categories.
*/

/* 1. Style elements common to all variations of the second page.  */

/* Hide these fields until the "Tortoiseshell" option is selected from the "Patterns" dropdown. */
.calico-field, .tortie-tabby-field, .dilute-field {
    display: none;
}

/* Style the age rating field. Rating widget buttons are used for uploading, and image check buttons are used for searching. */
#age-rating-field .rating-widget-btn label, #age-rating-field .check-btn label {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}
#age-rating-field .rating-widget-btn, #age-rating-field .check-btn {
    width: 67px;
}
#age-rating-field .rating-widget-btn img, #age-rating-field .check-btn img {
    margin-bottom: 5px;
}
.newborn > img {
    width: 30px
}
.young > img {
    width: 41px;
}
.adult > img {
    width: 55px;
}
.senior > img {
    width: 56px;
}

@media (max-width: 419px) {
    #adoption-statistical-fields, #lostfound-statistical-fields {
        text-align: center;
    }
    #adoption-statistical-fields > div,  #lostfound-statistical-fields > div {
        float: right;
        width: 50%;
    }
}
@media (min-width: 420px) {
    #adoption-statistical-fields > div,  #lostfound-statistical-fields > div {
        float: left;
    }
    #adoption-statistical-fields > div:last-child /* age field */, #lostfound-statistical-fields > div:last-child  {
        margin-left: 20px;
    }
}
#adoption-statistical-fields, #lostfound-statistical-fields {
    /* Chrome puts extra space in the content area of these <div>s under the text fields, so the padding needs to be larger on top in order to balance it out.
       The height of the <div> was 28px, and this puts the usual 5px separation on the top and bottom. */
    height: 37px;
    padding-top: 7px;
}

#delete-btn {
    /* Style the delete button on the page for editing an upload. */
   height: 28px;
   padding-left: 9px;
   padding-right: 9px;
   float: right;
   /* This rule positions the delete button to be vertically level with the center of the heading to the left. */
   margin-top: 10px;
   margin-bottom: 10px;
}

/* 2. Style elements only on the Adoption page. */

/* At a viewport width of 350px or greater, the checkbox label "Tested and treated for worms, ticks, and fleas" appears all on one line,
   The footnote "by a USDA-accredited veterinary service" appears directly below it in small print.
   Below 350px, the checkbox label begins to wrap to the next line. Rather than have the small print on the same line, an asterisk
   is added to the end of the checkbox label and an asterisk is added to the beginning of the small print.  */
@media (min-width: 350px) {
    #accredation-asterisk {
        display: none;
    }
}
@media (max-width: 349px) {
    #accredation-footnote {
        text-align: right;
    }
    #accredation-footnote::before {
        content: "*";
    }
    #accredation-footnote:before {
        content: "*";
    }
}