{% extends "en/public/petinfo_upload_main.html" %}
{% load staticfiles %}
{% block required_message %}
    <div class="form-unit">
        <span class="required-asterisk">*</span> This is the only required field.
    </div>
{% endblock required_message %}
{% block table_fields_at_top %}
    <tr>
       <th><label>Pet name: <span class="required-asterisk">*</span></label></th>
       <td>
           {{ main_form.pet_name.errors }}
           {{ main_form.pet_name }}
       </td> 
    </tr>
    {{ block.super }}
{% endblock table_fields_at_top %}
{% block unique_section_A %}
    {{ main_form.likes_cats.errors }}
    {{ main_form.likes_dogs.errors }}
    {{ main_form.likes_kids.errors }}
    {{ main_form.likes_kids_age.errors }}
    <div class="inline-checkboxes">
        <label>This cat gets along well with</label><br/>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.likes_cats }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Cats
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.likes_dogs }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Dogs
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.likes_kids }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Children, down to age {{ main_form.likes_kids_age }}
        </label>
    </div>
    {{ main_form.spayed_or_neutered.errors }}
    {{ main_form.house_trained.errors }}
    {{ main_form.declawed.errors }}
    {{ main_form.vaccinated.errors }}
    {{ main_form.microchipped.errors }}
    {{ main_form.parasite_free.errors }}
    <div class="inline-checkboxes">
        <label>This cat has been</label><br/>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.spayed_or_neutered }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Spayed or neutered
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.house_trained }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            House trained
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.declawed }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Declawed
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.vaccinated }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Vaccinated (up to date)
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.microchipped }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Microchipped
        </label>
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ main_form.parasite_free }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            Tested and treated for worms, ticks, and fleas<span id="accredation-asterisk">*</span>
            <div class="small" id="accredation-footnote">by a <a class="emphasized" href="https://www.aphis.usda.gov/aphis/ourfocus/animalhealth/nvap">USDA</a>-accredited veterinary service</div>
        </label>
    </div>
    <table class="form">
        <tr>
            <th><label>Energy level:</label></th>
            <td>
                {{ main_form.energy_level.errors }}
                {{ main_form.energy_level }}
            </td>
        </tr>
    </table>
{% endblock unique_section_A %}
{% block adoption_id_fields %}
    <table class="form">
        <tr>
            <th><label>Pet ID:</label></th>
            <td>
                {{ bonded_with_form.non_field_errors }}
                {{ bonded_with_form.internal_id.errors }}
                {{ bonded_with_form.internal_id }}
            </td>
        </tr>
        <tr>
            <th><label>Bonded with:</label></th>
            <td>
                {{ bonded_with_form.bonded_with_IDs.errors }}
                {{ bonded_with_form.bonded_with_IDs }}
            </td>
        </tr>
    </table>
    <div class="form-unit">
        For the "bonded with" field, copy and paste the ID listed on a pet's adoption page. To specify multiple pets, separate their IDs with commas. If you are filling out the "bonded with" field, you will need to provide an ID for the pet.
    </div>
{% endblock adoption_id_fields %}
{% block unique_section_B %}
    <table class="form" id="adoption-fee-field">
        <tr>
            <th><label>Adoption fee:</label></th>
            <td>
                {{ main_form.adoption_fee.errors }}
                $ {{ main_form.adoption_fee }} USD
            </td>
        </tr>
    </table>
    {{ main_form.euthenasia_soon.errors }}
    <div class="checkbox has-custom-checkbox text-center">
        <label>
        <div class="custom-checkbox">
            {{ main_form.euthenasia_soon }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        This animal could be euthanized if it is not adopted <em>soon</em>.
        </label>
    </div>
{% endblock unique_section_B %}