    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xl-1 col-xl-offset-1">
                </div>
                <div class="col-lg-4 col-xl-3">
                        <ul>
                            <li><a href="{% url "about_us" %}">About Us</a></li>
                            <li><a href="{% url "feedback" %}">Feedback</a></li>
                            <li><a href="{% url "tou" %}">Terms</a></li>
                            <li><a href="{% url "privacy" %}">Privacy Policy</a></li>
                        </ul>
                </div>
                <div class="col-lg-3 col-lg-offset-3 text-right">
                    <p>&copy; 2017 {{ app_name }}.tk All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>