{% extends "en/public/base.html" %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <title>Found pet search - {{ app_name }}</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/pet_upload_and_search.css" %}" class="has-night-mode-version"/>
    {% if night_mode %}
        <link type="text/css" rel="stylesheet" href="{% static "css/pet_upload_and_search_night.css" %}"/>
    {% endif %}
    <script src="{% static "javascript/pet_upload_and_search.js" %}"></script>
{% endblock %}
{% block body %}
    <header class="form">
        <h1 id="search-heading">Found cat search</h1>
        <a href="{% url "index" %}" id="close"><button type="button" class="close"><span>&times;</span></button></a>
    </header>
    <main class="form">
        {% include "en/public/found_search_main.html" %}
    </main>
    <footer class="form">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </footer>
{% endblock %}