{% extends "en/public/lostfoundinfo_upload_main.html" %}
{% load staticfiles %}
{% block is_sighting %}
    {{ main_form.is_sighting.errors }}
    {% for radio in main_form.is_sighting %}
    <div class="radio">
        <label for="{{ radio.id_for_label }}">
            {{ radio.tag }}
            {{ radio.choice_label }}
        </label>
    </div>
    {% endfor %}
{% endblock is_sighting %}
{% block table_fields_at_top %}
    <tr>
       <th><label>Pet name:</label></th>
       <td>
           {{ main_form.pet_name.errors }}
           {{ main_form.pet_name }}
       </td> 
    </tr>
    {{ block.super }}
{% endblock table_fields_at_top %}
{% block date_label %}Date found{% endblock date_label %}
{% block lostfound_table %}
    {{ block.super }}
    {% if is_shelter %}
        <tr>
            <th><label>ID (shelters):</label></th>
            <td>
                {{ main_form.internal_id.errors }}
                {{ main_form.internal_id }}
            </td>
        </tr>
    {% endif %}
{% endblock lostfound_table %}
{% block lostfound_inline_checkbox_errors %}
    {{ block.super }}
    {{ main_form.no_microchip.errors }}
{% endblock lostfound_inline_checkbox_errors %}
{% block lostfound_inline_checkbox_section_B %}
    {{ block.super }}
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ main_form.no_microchip }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        No microchip detected during scan
    </label>
{% endblock lostfound_inline_checkbox_section_B %}