{% extends "en/public/base.html" %}
{% block head %}
        {{ block.super }}
        <title>Found upload form - Meowseum</title>
        {% include "en/public/default_description.html" %}
        {% include "en/public/default_keywords.html" %}
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static "css/pet_upload_and_search.css" %}"/>
        {% if night_mode %}
            <link type="text/css" rel="stylesheet" href="{% static "css/pet_upload_and_search_night.css" %}"/>
        {% endif %}
        <script src="{% static "javascript/pet_upload_and_search.js" %}"></script>
{% endblock %}
{% block body %}
    {% include "en/public/elements/full_page_form.html" with heading=heading action="found_upload" main_template="en/public/found_upload_main.html" footer_button_label="Submit" %}
{% endblock %}