<header id="header-mobile">
    {% load staticfiles %}
    <div class="container-fluid">
        <div class="row visible-xs" id="portrait-smartphone-icons">
            <div class="col-xs-12">
                <ul class="list-unstyled list-inline">
                    {% include "en/public/left_mobile_header_icons.html" %}
                    <li>
                        <a href="/">
                            {% if night_mode %}
                                <img src="{% static "images/Home Icon - White.png" %}" data-night="{% static "images/Home Icon - White.png" %}" data-day="{% static "images/Home Icon.png" %}" alt="Home icon" class="mobile-icon">
                            {% else %}
                                <img src="{% static "images/Home Icon.png" %}" data-night="{% static "images/Home Icon - White.png" %}" data-day="{% static "images/Home Icon.png" %}" alt="Home icon" class="mobile-icon">
                            {% endif %}
                        </a>
                    </li>
                    {% include "en/public/right_mobile_header_icons.html" %}
                </ul>
            </div>
        </div>
        <div class="row hidden-xs" id="landscape-smartphone-or-wider-icons">
            <div class="col-lsph-4" id="left-icons-container">
                <ul class="list-unstyled list-inline">
                    {% include "en/public/left_mobile_header_icons.html" %}
                </ul>
            </div>
            <div class="col-lsph-4" id="mobile-logo-container">
                <a href="{% url "index" %}"><img src="{% static "images/Logo - White.png" %}" data-night="{% static "images/Logo - White.png" %}" data-day="{% static "images/Logo.png" %}" alt="Logo" class="mobile-logo"/></a>
            </div>
            <div class="col-lsph-4" id="right-icons-container">
                <ul class="list-unstyled list-inline">
                    {% include "en/public/right_mobile_header_icons.html" %}
                </ul>
            </div>
        </div>
        <div class="row" id="search-row">
            <div class="col-xs-12 col-sm-12">
                <form class="bright" method="get" action="{% url "header_search" %}" >
                    <input type="search" name="header_search" maxlength="255" id="mobile-searchbar" placeholder="Search"/>
                    <span class="glyphicon glyphicon-search"></span>
                </form>
                <a href="{% url "advanced_search" %}"><button class="btn" id="filter-btn">Filter</button></a>
            </div>
       </div>
    </div>
</header>
{% include "en/public/modals_mobile.html" %}