{% load staticfiles %}
{{ lost_form.non_field_errors }}
<div class="form-unit text-right">
    <span class="required-asterisk">*</span> Required.
</div>
<table class="form">
    <tr>
       <th><label>Pet name: <span class="required-asterisk">*</span></label></th>
       <td>
           {{ lost_form.pet_name.errors }}
           {{ lost_form.pet_name }}
       </td> 
    </tr>
    <tr>
       <th><label>Sex:</label></td>
       <td class="inline-radio-buttons">
           {{ lost_form.sex.errors }}
            {% for radio in lost_form.sex %}
                <label for="{{ radio.id_for_label }}" class="radio-inline">
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                </label>
            {% endfor %}
       </td>
    </tr>
    <tr>
        <th><label>Breed:</label></td>
        <td>
            {{ lost_form.subtype1.errors }}
            {{ lost_form.subtype1 }}
        </td>
    </tr>
    <tr>
        <th><label>Pattern:</label></th>
        <td>
            {{ lost_form.pattern.errors }}
            {{ lost_form.pattern }}
        </td>
    </tr>
    <tr class="calico-field">
        <th><label>Calico?</label></th>
        <td>
            {{ lost_form.is_calico.errors }}
            {{ lost_form.is_calico }}
        </td>
    </tr>
    <tr class="tortie-tabby-field">
        <th><label>Tabby?</label></th>
        <td>
            {{ lost_form.has_tabby_stripes.errors }}
            {{ lost_form.has_tabby_stripes }}
        </td>
    </tr>
    <tr class="dilute-field">
        <th><label>Dilute?</label></th>
       <td class="inline-radio-buttons">
           {{ lost_form.is_dilute.errors }}
            {% for radio in lost_form.is_dilute %}
                <label for="{{ radio.id_for_label }}" class="radio-inline">
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                </label>
            {% endfor %}
       </td>
    </tr>
    <tr class="color1-field">
        <th><label>Color 1:</label></th>
        <td>
            {{ lost_form.color1.errors }}
            {{ lost_form.color1 }}
        </td>
    </tr>
    <tr class="color2-field">
        <th><label>Color 2:</label></th>
        <td>
            {{ lost_form.color2.errors }}
            {{ lost_form.color2 }}
        </td>
    </tr>
    <tr>
        <th><label>Eye color:</label></th>
        <td class="inline-radio-buttons">
            {{ lost_form.eye_color.errors }}
            {{ lost_form.eye_color_other.errors }}
            {% for radio in lost_form.eye_color %}
                <label for="{{ radio.id_for_label }}" class="radio-inline">
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                </label>
            {% endfor %}
            {{ lost_form.eye_color_other }}
        </td>
    </tr>
    <tr>
        <th><label>Nose color:</label></th>
        <td>
            {{ lost_form.nose_color.errors }}
            <fieldset class="checkbox-dropdown">
                <label>Select applicable color(s)<span class="caret"></span></label>
                <div>
                    {% for checkbox in lost_form.nose_color %}
                        <div>
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </td>
    </tr>
</table>

{{ lost_form.age_rating.errors }}
<div class="form-unit text-center" id="age-rating-field">
    <label>Rate the cat's age on a scale of 1-4.</label><br/>
    <div class="rating-widget-btn newborn hidden-noscript">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Newborn"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Newborn"/>
        {% endif %}
        <br/>
        Newborn
    </div>
    <div class="rating-widget-btn young hidden-noscript">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Young"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Young"/>
        {% endif %}
        <br/>
        Young
    </div>
    <div class="rating-widget-btn adult hidden-noscript">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Adult"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Adult"/>
        {% endif %}
        <br/>
        Adult
    </div>
    <div class="rating-widget-btn senior hidden-noscript">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Senior"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}"  alt="Senior"/>
        {% endif %}
        <br/>
        Senior
    </div>
    {% for radio in lost_form.age_rating %}
        <label for="{{ radio.id_for_label }}" class="radio-inline visible-noscript-inline">
            {{ radio.tag }}
            {{ radio.choice_label }}
        </label>
    {% endfor %}
</div>

{{ lost_form.other_physical.errors }}
<div class="field">
    <label class="bold">Other physical features:</label><br/>
    <fieldset class="checkbox-dropdown">
        <label>Select applicable feature(s)<span class="caret"></span></label>
        <div>
            {% for checkbox in lost_form.other_physical %}
                <div>
                    {{ checkbox.tag }}
                    {{ checkbox.choice_label }}
                </div>
            {% endfor %}
        </div>
    </fieldset>
</div>

<table class="form">
    <tr>
        <th><label>Date lost: <span class="required-asterisk">*</span></label></th>
        <td>
            {{ lost_form.date.errors }}
            {{ lost_form.date }}
            <button type="button" class="btn btn-primary">Today</button>
        </td>
    </tr>
    <tr>
        <th><label>Location:</label></th>
        <td>
            {{ lost_form.location.errors }}
            {{ lost_form.location }}
        </td>
    </tr>
</table>

{{ lost_form.has_collar.errors }}
{{ lost_form.microchipped.errors }}
{{ lost_form.has_serial_number_tattoo.errors }}
{{ lost_form.spayed_or_neutered.errors }}
{{ lost_form.has_spay_or_neuter_tattoo.errors }}
<div class="inline-checkboxes">
    <label class="bold">Which of the following apply to the cat?</label><br/>
    <label class="checkbox-inline has-custom-checkbox" data-toggle="collapse" data-target="#collar-fieldset">
        <div class="custom-checkbox">
            {{ lost_form.has_collar }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Has a collar
    </label>
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ lost_form.microchipped }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Microchipped
    </label>
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ lost_form.has_serial_number_tattoo }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Has a tattoo of a serial number
    </label>
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ lost_form.spayed_or_neutered }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Spayed or neutered
    </label>
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ lost_form.has_spay_or_neuter_tattoo }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Has a spay or neuter tattoo
    </label>
</div>
{% if upload.lost.has_collar or upload.lost.microchipped or upload.lost.has_serial_number_tattoo %}
<div class="nested-form collapse in">
{% else %}
<div class="nested-form collapse">
{% endif %}
{% if upload.lost.has_collar %}
    <fieldset class="collapse in" id="collar-fieldset">
{% else %}
    <fieldset class="collapse" id="collar-fieldset">
{% endif %}
        <table class="form">
            <tr>
               <th><label>Collar color:</label></td>
               <td>
                    {{ lost_form.collar_color.errors }}
                    {{ lost_form.collar_color }}
               </td>
            </tr>
        </table>
        {{ lost_form.collar_description.errors }}
        <div class="field">
            <label><span class="bold">Collar description</span> (style, materials):</label><br/>
            {{ lost_form.collar_description }}
        </div>
    </fieldset>
    {{ lost_form.id_number_description.errors }}
{% if upload.lost.microchipped or upload.lost.has_serial_number_tattoo %}
    <div class="field collapse in" id="id-number-description-field">
{% else %}
    <div class="field collapse" id="id-number-description-field">
{% endif %}
        <label class="bold">Microchip or tattoo ID:</label><br/>
        {{ lost_form.id_number_description }}
    </div>
</div>
<table class="form">
    <tr>
       <th><label>Hair length:</label></td>
       <td>
            {{ lost_form.hair_length.errors }}
            {{ lost_form.hair_length }}
       </td>
    </tr>
</table>
<div class="field">
    <label><span class="bold">Other special markings or characteristics?</span> <div>(e.g. tail length, coat pattern)</div></label><br/>
    {{ lost_form.other_special_markings.errors }}
    {{ lost_form.other_special_markings }}
</div>
{{ lost_form.disabilities.errors }}
<div class="form-unit">
    <label class="bold">Disabilities and special needs:</label><br/>
    <fieldset class="scrollable-checkboxes" data-size="3">
        <button type="button" class="btn btn-primary">Clear</button>
        {% for checkbox in lost_form.disabilities %}
            <div>
                {{ checkbox.tag }}
                {{ checkbox.choice_label }}
            </div>
        {% endfor %}
    </fieldset>
</div>
{{ lost_form.weight.errors }}
{{ lost_form.weight_units.errors }}
{{ lost_form.precise_age.errors }}
{{ lost_form.age_units.errors }}
<div id="statistical-fields">
    <div>
        <label class="bold">Weight:</label>
        {{ lost_form.weight }}
        {{ lost_form.weight_units }}
    </div>
    <div>
        <label class="bold">Age:</label>
        {{ lost_form.precise_age }}
        {{ lost_form.age_units }}
    </div>
</div>
{% if verify_description_form %}
    {% comment %}
    This is in an if-block because the "are you sure?" question only needs to be asked during the initial upload process, not during the editing form, and the if-block allows the template to be re-used.
    {% endcomment %}
    {{ verify_description_form.non_field_errors }}
    {{ verify_description_form.errors }}
    <div class="field">
        <label>Is there any other information that could aid in the return of the pet?</label><br/>
        {{ verify_description_form.description }}
    </div>
{% endif %}
<table class="form">
    <tr>
        <th><label>Reward:</label></th>
        <td>
            {{ lost_form.reward.errors }}
            $ {{ lost_form.reward }} USD
        </td>
    </tr>
</table>
<div class="form-unit">
    We caution against rewards, because they have the potential to attract scammers, encourage catnapping, and lead people, who would otherwise return the cat, to hold out for the money.
</div>
<div class="inline-checkboxes">
<label><span class="bold">Public contact information:</span> Check any contact information that you would like to share with the public.</label><br/>
    {% for checkbox in lost_form.public_contact_information %}
        <label class="checkbox-inline">
            {{ checkbox.tag }}
            {{ checkbox.choice_label }}
        </label>
    {% endfor %}
</div>