<table class="form">
    <tr>
        <th><label>Location:</label></th>
        <td><input type="text" name="location" placeholder="ZIP code / City, State"/></td>
    </tr>
    <tr>
        <th><label>Distance:</label></th>
        <td>
            <select name="distance">
                <option value="anywhere">Anywhere</option>
                <option value="10-miles">Less than 10 miles</option>
                <option value="25-miles">Less than 25 miles</option>
                <option value="50-miles">Less than 50 miles</option>
                <option value="100-miles">Less than 100 miles</option>
            </select>
        </td>
    </tr>
    <tr>
        <th><label for="breed">Breed:</label></td>
        <td>
            <select name="breed" id="breed">
                <option value=""></option>
                <option value="absynnian">Absynnian</option>
                <option value="americanbobtail">American Bobtail</option>
                <option value="americancurl">American Curl</option>
                <option value="americanshorthair">American Shorthair</option>
                <option value="americanwirehair">American Wirehair</option>
                <option value="balinese-javanese">Balinese-Javanese</option>
                <option value="bengal">Bengal</option>
                <option value="birman">Birman</option>
                <option value="bombay">Bombay</option>
                <option value="britishshorthair">British Shorthair</option>
                <option value="burmese">Burmese</option>
                <option value="burmilla">Burmilla</option>
                <option value="chartreux">Chartreux</option>
                <option value="colorpointshorthair">Colorpoint Shorthair</option>
                <option value="cornishrex">Cornish Rex</option>
                <option value="cymric">Cymric</option>
                <option value="devonrex">Devon Rex</option>
                <option value="europeanburmese">European Burmese</option>
                <option value="exoticshorthair">Exotic Shorthair</option>
                <option value="havanabrown">Havana Brown</option>
                <option value="himalayan">Himalayan</option>
                <option value="japanesebobtail">Japanese Bobtail</option>
                <option value="korat">Korat</option>
                <option value="mainecoon">Maine Coon</option>
                <option value="laperm">LaPerm</option>
                <option value="manx">Manx</option>
                <option value="munchkin">Munchkin</option>
                <option value="nebelung">Nebelung</option>
                <option value="norwegianforestcat">Norwegian Forest Cat</option>
                <option value="ocicat">Ocicat</option>
                <option value="oriental">Oriental</option>
                <option value="persian">Persian</option>
                <option value="ragamuffin">Ragamuffin</option>
                <option value="ragdoll">Ragdoll</option>
                <option value="russianblue">Russian Blue</option>
                <option value="savannah">Savannah</option>
                <option value="scottishfold">Scottish Fold</option>
                <option value="selkirkrex">Selkirk Rex</option>
                <option value="siamese">Siamese</option>
                <option value="siberian">Siberian</option>
                <option value="singapura">Singapura</option>
                <option value="snowshoe">Snowshoe</option>
                <option value="somali">Somali</option>
                <option value="sphynx">Sphynx</option>
                <option value="tonkinese">Tonkinese</option>
                <option value="toyger">Toyger</option>
                <option value="turkishangora">Turkish Angora</option>
                <option value="turkishvan">Turkish Van</option>
            </select>
       </td>
    </tr>
    <tr>
        <th><label for="pattern">Pattern:</label></th>
        <td>
            <select name="pattern" class="pattern">
                <option value=""></option>
                <option value="solid">Solid color fur</option>
                <option value="tuxedo">Tuxedo</option>
                <option value="bicolor">Other bicolor fur</option>
                <option value="tortoiseshell">Multicolor or tortoiseshell</option>
                <option value="tabby">Tabby stripes</option>
                <option value="spotted">Spotted</option>
            </select>
        </td>
    </tr>
    <tr class="calico-field">
        <th><label for="tricolor">Calico?</label></th>
        <td>
            <select name="tricolor" id="tricolor">
                <option value=""></option>
                <option value="True">Calico (has white in its coat)</option>
                <option value="False">Non-calico</option>
            </select>
        </td>
    </tr>
    <tr class="tortie-tabby-field">
        <th><label>Tabby?</label></th>
        <td>
            <select name="tricolor-tabby" id="tricolor-tabby">
                <option value=""></option>
                <option value="Yes">Yes (also has tabby stripes)</option>
                <option value="No">No</option>
            </select>
        </td>
    </tr>
    <tr class="dilute-field">
        <th><label>Dilute?</label></th>
        <td class="inline-radio-buttons">
            <label class="radio-inline">
                <input type="radio" name="dilute" value="Yes"/> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="dilute" value="No"/> No
            </label>
        </td>
    </tr>
    <tr class="color1-field">
        <th><label for="color1">Color 1:</label></th>
        <td>
            <select name="color1" id="color1">
                <option value=""></option>
                <option value="black">Black</option>
                <option value="chocolate">Chocolate or brown</option>
                <option value="gray">Gray</option>
                <option value="orange">Orange or red</option>
                <option value="tan">Tan or buff</option>
                <option value="white">White</option>
            </select>
        </td>
    </tr>
    <tr class="color2-field">
        <th><label for="color2">Color 2:</label></th>
        <td>
            <select name="color2" id="color2">
                <option value=""></option>
                <option value="black">Black</option>
                <option value="chocolate">Chocolate or brown</option>
                <option value="gray">Gray</option>
                <option value="orange">Orange or red</option>
                <option value="tan">Tan or buff</option>
                <option value="white">White</option>
            </select>
        </td>
    </tr>
    <tr>
        <th><label>Sex:</label></td>
        <td>
            <select name="sex" id="sex">
                <option value=""></option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </td>
    </tr>
    <tr>
        <th><label>Eye color:</label></th>
        <td class="inline-radio-buttons">
            <label class="radio-inline">
                <input type="radio" name="eye-color" value="green"/> Green
            </label>
            <label class="radio-inline">
                <input type="radio" name="eye-color" value="yellow"/> Yellow
            </label>
            <label class="radio-inline">
                <input type="radio" name="eye-color" value="orange"/> Orange
            </label>
            <label class="radio-inline">
                <input type="radio" name="eye-color" value="blue"/> Blue
            </label>
        </td>
    </tr>
</table>
<div class="field">
    <label class="bold">Other physical characteristics:</label><br/>
    <fieldset class="checkbox-dropdown">
        <label><span class="caret"></span></label>
        <div>
            <div><input type="checkbox" name="other-characteristics-lostfound" value="socks"/>Has 'socks'</div>
            <div><input type="checkbox" name="other-characteristics-lostfound" value="polydactyl"/>Polydactyl</div>
            <div><input type="checkbox" name="other-characteristics-lostfound" value="heterochromia"/>Heterochromia</div>
        </div>
    </fieldset>
</div>
<div class="form-unit text-center" id="age-rating-field">
    <label class="bold">Age range:</label><br/>
    {% load staticfiles %}
    <div class="check-btn newborn">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Newborn"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Newborn"/>
        {% endif %}
        <br/>
        Newborn
    </div>
    <div class="check-btn young">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Young"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Young"/>
        {% endif %}
        <br/>
        Young
    </div>
    <div class="check-btn adult">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Adult"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Adult"/>
        {% endif %}
        <br/>
        Adult
    </div>
    <div class="check-btn senior">
        {% if night_mode %}
            <img src="{% static "images/Cat age rating symbol - night, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Senior"/>
        {% else %}
            <img src="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-inactive="{% static "images/Cat age rating symbol - day, empty.png" %}" data-day-active="{% static "images/Cat age rating symbol - day, full.png" %}"
            data-night-inactive="{% static "images/Cat age rating symbol - night, empty.png" %}" data-night-active="{% static "images/Cat age rating symbol - night, full.png" %}" alt="Senior"/>
        {% endif %}
        <br/>
        Senior
    </div>
    <input type="checkbox" name="age-rating" value="newborn"/>
    <input type="checkbox" name="age-rating" value="young"/>
    <input type="checkbox" name="age-rating" value="adult"/>
    <input type="checkbox" name="age-rating" value="senior"/>
</div>
<table class="form">
    <tr>
       <th><label for="name">Pet name:</label></td>
       <td><input type="text" name="name" id="name"/></td> 
    </tr>
</table>
<div class="inline-checkboxes text-center">
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            <input type="checkbox" name="has-collar" value="true">
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Has a collar
    </label>
    <label class="checkbox-inline has-custom-checkbox" data-toggle="collapse" data-target="#microchip-search-field">
        <div class="custom-checkbox">
            <input type="checkbox" name="microchipped" value="true">
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Microchipped
    </label>
</div>
<div class="field collapse" id="microchip-search-field">
    <label class="bold">Microchip # (or company):</label><br/><input type="text" name="microchip-description"/>
</div>
<div class="form-unit">
    <label class="bold">Disabilities and special needs:</label><br/>
    <fieldset class="scrollable-checkboxes" data-size="3">
        <button type="button" class="btn btn-primary">Clear</button>
        <div><input type="checkbox" name="disabilities-lostfound" value="any"/>Any</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="visuallyimpaired"/>Visually impaired</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="blind"/>Blind</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="hearingimpaired"/>Hearing impaired</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="deaf"/>Deaf</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="limbproblems"/>Missing or nonworking limbs</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="cerebellarhypoplasia"/>Cerebellar hypoplasia</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="cerebralpalsy"/>Cerebral palsy</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="mobilityissues"/>Mobility issues</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="mentallydisabled"/>Mentally disabled</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="heartproblems"/>Heart problems</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="kidneyproblems"/>Kidney problems</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="incontinent"/>Incontinent</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="fiv"/>FIV+</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="leukemia"/>Leukemia</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="diabetic"/>Diabetic</div>
        <div><input type="checkbox" name="disabilities-lostfound" value="obese"/>Obese</div>
    </fieldset>
</div>
<div class="checkbox has-custom-checkbox">
    <label>
    <div class="custom-checkbox">
        <input type="checkbox" name="make-search-front-page" value="true"/>
        {% include "en/public/elements/custom_checkmark.html" %}
    </div>
    Make this search my front page for Meowseum.
    </label>
</div>