{% extends "en/public/lostfoundinfo_upload_main.html" %}
{% load staticfiles %}
{% block table_fields_at_top %}
    <tr>
       <th><label>Pet name: <span class="required-asterisk">*</span></label></th>
       <td>
           {{ main_form.pet_name.errors }}
           {{ main_form.pet_name }}
       </td> 
    </tr>
    {{ block.super }}
{% endblock table_fields_at_top %}
{% block date_label %}Date lost{% endblock date_label %}
{% block nested_form %}
    {{ block.super }}
    {{ main_form.microchip_or_tattoo_ID.errors }}
    {% if upload.lost.microchipped or upload.lost.has_serial_number_tattoo %}
    <div class="field collapse in" id="id-number-description-field">
    {% else %}
    <div class="field collapse" id="id-number-description-field">
    {% endif %}
        <label class="bold">Microchip or tattoo ID:</label><br/>
        {{ main_form.microchip_or_tattoo_ID }}
    </div>
{% endblock nested_form %}
{% block unique_section_B %}
    {{ block.super }}
    <table class="form">
        <tr>
            <th><label>Reward:</label></th>
            <td>
                {{ main_form.reward.errors }}
                $ {{ main_form.reward }} USD
            </td>
        </tr>
    </table>
    <div class="form-unit">
        We caution against rewards, because they have the potential to attract scammers, encourage catnapping, and lead people, who would otherwise return the cat, to hold out for the money.
    </div>
{% endblock unique_section_B %}