{% extends "en/public/lostfoundinfo_upload_main.html" %}
{% load staticfiles %}
{% block table_fields_at_top %}
    <tr>
       <th><label>Pet name: <span class="required-asterisk">*</span></label></th>
       <td>
           {{ main_form.pet_name.errors }}
           {{ main_form.pet_name }}
       </td> 
    </tr>
    {{ block.super }}
{% endblock table_fields_at_top %}
{% block date_label %}Date lost{% endblock date_label %}
{% block lostfound_inline_checkbox_errors %}
    {{ block.super }}
    {{ main_form.microchipped.errors }}
    {{ main_form.has_serial_number_tattoo.errors }}
    {{ main_form.spayed_or_neutered.errors }}
{% endblock %}
{% block lostfound_inline_checkbox_section_A %}
    {{ block.super }}
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ main_form.microchipped }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Microchipped
    </label>
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ main_form.has_serial_number_tattoo }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Has a tattoo of a serial number
    </label>
{% endblock lostfound_inline_checkbox_section_A %}
{% block lostfound_inline_checkbox_section_B %}
    <label class="checkbox-inline has-custom-checkbox">
        <div class="custom-checkbox">
            {{ main_form.spayed_or_neutered }}
            {% include "en/public/elements/custom_checkmark.html" %}
        </div>
        Spayed or neutered
    </label>
    {{ block.super }}
{% endblock lostfound_inline_checkbox_section_B %}
{% block nested_form %}
    {{ block.super }}
    {{ main_form.id_number_description.errors }}
    {% if upload.lost.microchipped or upload.lost.has_serial_number_tattoo %}
    <div class="field collapse in" id="id-number-description-field">
    {% else %}
    <div class="field collapse" id="id-number-description-field">
    {% endif %}
        <label class="bold">Microchip or tattoo ID:</label><br/>
        {{ main_form.id_number_description }}
    </div>
{% endblock nested_form %}
{% block unique_section_B %}
    {{ block.super }}
    <table class="form">
        <tr>
            <th><label>Reward:</label></th>
            <td>
                {{ main_form.reward.errors }}
                $ {{ main_form.reward }} USD
            </td>
        </tr>
    </table>
    <div class="form-unit">
        We caution against rewards, because they have the potential to attract scammers, encourage catnapping, and lead people, who would otherwise return the cat, to hold out for the money.
    </div>
{% endblock unique_section_B %}