<div class="form-unit" id="contact-record-warning">
    To be able to make a listing, first we need your <a href="{% url "user_contact_information" %}" class="emphasized" target="_blank">contact information</a>.
    This information will allow other users to search for listings by geographic location. Shelters and rescue groups will contact you if they have helpful information 
    related to your post (found a lost pet, etc). If you are a shelter, <a href="{% url "shelter_contact_information" %}" class="emphasized" target="_blank">register here</a>.
</div>