{% extends "en/public/base.html" %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <title>Report abuse - {{ app_name }}</title>
    {% include "en/public/elements/site_header_and_footer_CSS_links.html" %}
    <link type="text/css" rel="stylesheet" href="{% static "css/report_abuse.css" %}"/>
{% endblock %}
{% block body %}
    {% include "en/public/header_mobile.html" %}
    {% include "en/public/header_desktop.html" %}
    <main>
        <form method="post" action="" id="report-abuse">
            {% csrf_token %}
            <h1>Report abuse</h1>
            We take allegations of site abuse very seriously. Illegal content will be reported
            to the appropriate authorities. Do not submit false reports.
            {{ form.non_field_errors }}
            {{ form.type_of_abuse.errors }}
            <div class="field">
                <label for="{{ form.type_of_abuse.id_for_label }}" class="bold">{{ form.type_of_abuse.label }}</label><br/>
                {{ form.type_of_abuse }}
            </div>
            {{ form.offending_username.errors }}
            <div class="field get-parameter">
                <label for="{{ form.offending_username.id_for_label }}" class="bold">{{ form.offending_username.label }}</label><br/>
                {{ form.offending_username }}
            </div>
            {{ form.description.errors }}
            <div class="field">
                <label for="{{ form.description.id_for_label }}" class="bold">{{ form.description.label }} <span class="italic">(optional)</span></label><br/>
                {{ form.description }}
            </div>
            {{ form.url.errors }}
            <div class="field get-parameter">
                <label for="{{ form.url.id_for_label }}" class="bold">{{ form.url.label }}</label><br/>
                {{ form.url }}
            </div>
            <div class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </main>
    {% include "en/public/footer.html" %}
    <script>
        var viewportWidth = $(window).width();
        if (viewportWidth < 1200) {
            document.write('<script src="{% static "javascript/header_mobile.js" %}"><\/script>');
        }
        else {
            document.write('<script src="{% static "javascript/header_desktop.js" %}"><\/script>');
        }
    </script>
{% endblock %}