<div class="form-unit">
    Required fields are shown in <span class="bold">bold</span>.
</div>
{{ main_form.non_field_errors }}
<table class="form">
    <tr>
        <th>{{ main_form.organization_name.label_tag }}</th>
        <td>
            {{ main_form.organization_name.errors }}
            {{ main_form.organization_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.contact_first_name.label_tag }}</th>
        <td>
            {{ main_form.contact_first_name.errors }}
            {{ main_form.contact_first_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.contact_last_name.label_tag }}</th>
        <td>
             {{ main_form.contact_last_name.errors }}
             {{ main_form.contact_last_name }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ main_form.contact_title.id_for_label }}" class="debold">{{ main_form.contact_title.label }}:</label></th>
        <td>
            {{ main_form.contact_title.errors }}
            {{ main_form.contact_title }}
        </td>
    </tr>
</table>
{{ main_form.include_contact_in_profile.errors }}
<div class="checkbox text-center">
    <label>
        {{ main_form.include_contact_in_profile }}
        {{ main_form.include_contact_in_profile.label }}
    </label>
</div>
<h2>Profile and search engine address</h2>
{{ profile_address_form.non_field_errors }}
<table class="form">
    <tr>
        <th><label for="{{ profile_address_form.address_line_1.id_for_label }}" class="debold">{{ profile_address_form.address_line_1.label }}:</label></th>
        <td>
            {{ profile_address_form.address_line_1.errors }}
            {{ profile_address_form.address_line_1 }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ profile_address_form.address_line_2.id_for_label }}" class="debold">{{ profile_address_form.address_line_2.label }}:</label></th>
        <td>
            {{ profile_address_form.address_line_2.errors }}
            {{ profile_address_form.address_line_2 }}
        </td>
    </tr>
    <tr>
        <th>{{ profile_address_form.city.label_tag }}</th>
        <td>
            {{ profile_address_form.city.errors }}
            {{ profile_address_form.city }}
        </td>
    </tr>
    <tr>
        <th>{{ profile_address_form.state_or_province.label_tag }}</th>
        <td>
            {{ profile_address_form.state_or_province.errors }}
            {{ profile_address_form.state_or_province }}
        </td>
    </tr>
    <tr>
        <th>{{ profile_address_form.country.label_tag }}</th>
        <td>
            {{ profile_address_form.country.errors }}
            {{ profile_address_form.country }}
        </td>
    </tr>
    <tr>
        <th>{{ profile_address_form.zip_code.label_tag }}</th>
        <td>
            {{ profile_address_form.zip_code.errors }}
            {{ profile_address_form.zip_code }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ main_form.profile_phone_number.id_for_label }}" class="debold">{{ main_form.profile_phone_number.label }}:</label></th>
        <td>
            {{ main_form.profile_phone_number.errors }}
            {{ main_form.profile_phone_number }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ main_form.profile_fax_number.id_for_label }}" class="debold">{{ main_form.profile_fax_number.label }}:</label></th>
        <td>
            {{ main_form.profile_fax_number.errors }}
            {{ main_form.profile_fax_number }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ main_form.profile_email.id_for_label }}" class="debold">{{ main_form.profile_email.label }}:</label></th>
        <td>
            {{ main_form.profile_email.errors }}
            {{ main_form.profile_email }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ main_form.website.id_for_label }}" class="debold">{{ main_form.website.label }}:</label></th>
        <td>
            {{ main_form.website.errors }}
            {{ main_form.website }}
        </td>
    </tr>
</table>
<table class="form">
    <tr>
        <th>{{ main_form.is_nonprofit.label_tag }}</th>
        <td>
            {{ main_form.is_nonprofit.help_text }}<br/>
            <div class="text-center">
                {% for radio in main_form.is_nonprofit %}
                    <label for="{{ radio.id_for_label }}" class="radio-inline">
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                    </label>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
<table class="form">
    <tr>
        <th><label for="{{ main_form.contact_us_page.id_for_label }}" class="debold">{{ main_form.contact_us_page.label }}:</label></th>
        <td>
            {{ main_form.contact_us_page.errors }}
            {{ main_form.contact_us_page }}
        </td>
    </tr>
</table>
{{ main_form.donation_page.errors }}
<div class="field">
    {{ main_form.donation_page.label_tag }}<br/>
    {{ main_form.donation_page }}
</div>
{% if user_has_shelter_record_on_file %}
    <div class="form-buttons">
        <input type="submit" class="btn btn-primary" value="Save changes"/>
    </div>
{% endif %}
<h2>Mailing address</h2>
<label class="checkbox-inline">
    <input type="checkbox" data-source-fields="profile_address_line_1, profile_address_line_2, profile_city, profile_state_or_province, profile_country, profile_zip_code" data-target-fields="mailing_address_line_1, mailing_address_line_2, mailing_city, mailing_state_or_province, mailing_country, mailing_zip_code">
    Same as above
</label>
{{ mailing_address_form.non_field_errors }}
<table class="form">
    <tr>
        <th>{{ mailing_address_form.address_line_1.label_tag }}</th>
        <td>
            {{ mailing_address_form.address_line_1.errors }}
            {{ mailing_address_form.address_line_1 }}
        </td>
    </tr>
    <tr>
        <th><label for="{{ mailing_address_form.address_line_2.id_for_label }}" class="debold">{{ mailing_address_form.address_line_2.label }}:</label></th>
        <td>
            {{ mailing_address_form.address_line_2.errors }}
            {{ mailing_address_form.address_line_2 }}
        </td>
    </tr>
    <tr>
        <th>{{ mailing_address_form.city.label_tag }}</th>
        <td>
            {{ mailing_address_form.city.errors }}
            {{ mailing_address_form.city }}
        </td>
    </tr>
    <tr>
        <th>{{ mailing_address_form.state_or_province.label_tag }}</th>
        <td>
            {{ mailing_address_form.state_or_province.errors }}
            {{ mailing_address_form.state_or_province }}
        </td>
    </tr>
    <tr>
        <th>{{ mailing_address_form.country.label_tag }}</th>
        <td>
            {{ mailing_address_form.country.errors }}
            {{ mailing_address_form.country }}
        </td>
    </tr>
    <tr>
        <th>{{ mailing_address_form.zip_code.label_tag }}</th>
        <td>
            {{ mailing_address_form.zip_code.errors }}
            {{ mailing_address_form.zip_code }}
        </td>
    </tr>
</table>
<h2>Veterinarian information</h2>
<a data-toggle="instant-collapse" data-target="#veterinary-info-request-explanation">Purpose<span class="minus">-</span></a>
<div class="form-unit collapse" id="veterinary-info-request-explanation">
    Before entering beta testing, we may contact the primary veterinarian of the organization and request a signed letter of reference which states that he or she
    provides medical care for the sheltered animals.
</div>
<table class="form">
    <tr>
        <th>{{ main_form.veterinarian_name.label_tag }}</th>
        <td>
            {{ main_form.veterinarian_name.errors }}
            {{ main_form.veterinarian_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.veterinarian_phone_number.label_tag }}</th>
        <td>
            {{ main_form.veterinarian_phone_number.errors }}
            {{ main_form.veterinarian_phone_number }}
        </td>
    </tr>
</table>
<h2>Contact information for Meowseum</h2>
<div class="form-unit">
    This section is for the information of someone we can contact regarding Meowseum,
    such as the person responsible for posting pets on adoption websites.
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" data-source-fields="contact_first_name, contact_last_name" data-target-fields="site_contact_first_name, site_contact_last_name">
        Same as the main contact at the shelter/rescue group
    </label>
</div>
<table class="form">
    <tr>
        <th>{{ main_form.site_contact_first_name.label_tag }}</th>
        <td>
            {{ main_form.site_contact_first_name.errors }}
            {{ main_form.site_contact_first_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.site_contact_last_name.label_tag }}</th>
        <td>
            {{ main_form.site_contact_last_name.errors }}
            {{ main_form.site_contact_last_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.site_contact_phone_number.label_tag }}</th>
        <td>
            {{ main_form.site_contact_phone_number.errors }}
            {{ main_form.site_contact_phone_number }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.site_contact_email.label_tag }}</th>
        <td>
            {{ main_form.site_contact_email.errors }}
            {{ main_form.site_contact_email }}
        </td>
    </tr>
</table>
{% if user_has_shelter_record_on_file %}
    <div class="form-buttons">
        <input type="submit" class="btn btn-primary" value="Save changes"/>
    </div>
{% endif %}
<h2>Settings</h2>
<div class="form-unit">
    This optional section will be used when users are searching for shelters. It will also allow you to skip parts of the adoption form that will always be the same for your organization.
</div>
{{ main_form.distance_prohibition.errors }}
<div class="field">
    <label class="bold">Do you prohibit adoption for people living over a certain distance away?</label>
    <div>
        <label class="radio-inline hidden-noscript">
            <input type="radio" name="adoption-distance-restriction" value="yes">
            Yes
        </label>
        <label class="radio-inline hidden-noscript">
            <input type="radio" name="adoption-distance-restriction" value="no" checked>
            No
        </label>
        <span class="follow-up"><label class="bold">Distance:</label> {{ main_form.distance_prohibition }} miles</span>
    </div>
</div>
{{ main_form.age_prohibition.errors }}
<div class="field">
    <label class="bold">Do you prohibit adoption until a certain age over 18?</label>
    <div>
        <label class="radio-inline hidden-noscript">
            <input type="radio" name="adoption-age-restriction" value="yes">
            Yes
        </label>
        <label class="radio-inline hidden-noscript">
            <input type="radio" name="adoption-age-restriction" value="no" checked>
            No
        </label>
        <span class="follow-up"><label class="bold">Age:</label> {{ main_form.age_prohibition }}</span>
    </div>
</div>
<div class="form-unit">
    {{ main_form.is_lost_found_meeting_place.label_tag }}<br/>
    <div class="text-center">
        {% for radio in main_form.is_lost_found_meeting_place %}
            <label for="{{ radio.id_for_label }}" class="radio-inline">
                {{ radio.tag }}
                {{ radio.choice_label }}
            </label>
        {% endfor %}
    </div>
</div>
{{ main_form.base_adoption_fee_cat.errors }}
<div class="field">
    <label for="{{ main_form.base_adoption_fee_cat.id_for_label }}" class="bold">{{ main_form.base_adoption_fee_cat.label }}</label>
    <div>
        $ {{ main_form.base_adoption_fee_cat }} USD
    </div>
</div>
{{ main_form.base_adoption_fee_kitten.errors }}
<div class="field">
    <label for="{{ main_form.base_adoption_fee_kitten.id_for_label }}" class="bold">{{ main_form.base_adoption_fee_kitten.label }}</label>
    <div>
        $ {{ main_form.base_adoption_fee_kitten }} USD
    </div>
</div>
{{ main_form.services_included_with_adoption_fee.errors }} 
<div class="inline-checkboxes">
    <label for="{{ main_main_form.yes_or_no_questions.id_for_label }}" class="bold">{{ main_form.services_included_with_adoption_fee.label }}</label><br/>
    {% for checkbox in main_form.services_included_with_adoption_fee %}
        <label class="checkbox-inline has-custom-checkbox">
            <div class="custom-checkbox">
                {{ checkbox.tag }}
                {% include "en/public/elements/custom_checkmark.html" %}
            </div>
            {{ checkbox.choice_label }}
        </label>
    {% endfor %}
</div>