<table class="form">
    <tr>
        <th><label>Location:</label></th>
        <td><input type="text" name="location" placeholder="ZIP code / City, State"/></td>
    </tr>
    <tr>
        <th><label>Distance:</label></th>
        <td>
            <select name="distance">
                <option value="anywhere">Anywhere</option>
                <option value="10-miles">Less than 10 miles</option>
                <option value="25-miles">Less than 25 miles</option>
                <option value="50-miles">Less than 50 miles</option>
                <option value="100-miles">Less than 100 miles</option>
            </select>
        </td>
    </tr>
    <tr>
        <th><label>Shelter/rescue<br/> group name:</label></th>
        <td>
            <input type="text" name="shelter-name"/>
        </td>
    </tr>
</table>