{% extends "en/public/base.html" %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <title>Sign up - {{ app_name }}</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/login-signup.css" %}" class="has-night-mode-version"/>
    {% if night_mode %}
        <link type="text/css" rel="stylesheet" href="{% static "css/login-signup_night.css" %}"/>
    {% endif %}
{% endblock %}
{% block body %}
    {% if night_mode %}
        <img src="{% static "images/login_signup_backgrounds/night/qWdbrsz.jpg" %}" id="background-image"/>
    {% else %}
        <img src="{% static "images/login_signup_backgrounds/day/rqdnLBq.jpg" %}" id="background-image"/>
    {% endif %}
    <a href="{% url "index" %}" class="close"><span>&times;</span></a>
    <main id="signup-page">
        <div id="signup-form-box">
            <a href="{% url "index" %}">
                {% if night_mode %}
                    <img src="{% static "images/Logo - White.png" %}" data-night="{% static "images/Logo - White.png" %}" data-day="{% static "images/Logo.png" %}" id="logo"/>
                {% else %}
                    <img src="{% static "images/Logo.png" %}" data-night="{% static "images/Logo - White.png" %}" data-day="{% static "images/Logo.png" %}" id="logo"/>                    
                {% endif %}
            </a>
            <form class="bright" method="post" action="{% url "signup" %}">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <button type="submit" class="btn auth-btn">Sign up</button>
            </form>
            <p id="signup-legal">By signing up, you agree to {{ app_name }}'s <br/><a href="{% url "tou" %}" class="emphasized">Terms of Use</a> and <a href="{% url "privacy" %}" class="emphasized">Privacy Policy</a>.</p>
            Already registered? <a href="{% url "login" %}"><button class="btn btn-primary" id="go-to-login-btn">Log in</button></a>
        </div>
    </main>
{% endblock %}