{% comment %}
File name: 
Author: Rachel Bush
Last modified: 
Version description: 
{% endcomment %}

{% load staticfiles %}
{% load my_filters %}
{% comment %}
    The author box is displayed below the description on a mobile device only when the upload is for Adoption, Lost, or Found.
    This required several copies in the slide_page.html template, so I separated the element into an included template.
{% endcomment %}
<form method="post" action="" id="author-box">
    {% csrf_token %}
    {% comment %}
        This is where the avatar will go when the back end for it is implemented.
        <img src="{% static "images/Callie.jpg" %}" alt="Avatar" id="avatar"/>
    {% endcomment %}
    <div id="author-label">
        {% if upload.is_publicly_listed %}
        <span class="hidden-xs">submitted by </span>
        <a class="emphasized" href="{% url "gallery" upload.uploader %}">{{ upload.uploader }}</a>
        {% else %}
            {% if viewer == uploader %}
                {% comment %}
                    Let the uploaders know, when browsing their own uploads gallery, which are unlisted and which are public.
                {% endcomment %}
                Unlisted
            {% else %}
                {% comment %}
                    Otherwise, leave empty space. Using a linebreak was easier than using CSS to cover this scenario.
                {% endcomment %}
                <br>
            {% endif %}
        {% endif %}
    </div>
    {% if viewer == uploader %}
        <a href="{% url "delete_upload" upload.relative_url %}">
            <button type="button" class="btn btn-default fixed-btn" id="delete-btn"><span class="glyphicon glyphicon-trash"></span> Delete upload</button>
        </a>
    {% else %}
        {% include "en/public/follow_button.html" %}
    {% endif %}
    <div class="btn-group" id="slide-toolbar-phablet">
        <button type="button" class="btn btn-default fixed-btn">{{ views|format:",d" }} view{{ views|pluralize }}</button>
        <button type="button" class="btn btn-default fixed-btn tag-btn"><span class="glyphicon glyphicon-tag"></span> {{ upload.tags.count }}</button>
        <button type="button" class="btn btn-default fixed-btn share-btn"><span class="glyphicon glyphicon-share"></span> Share</button>
        <button type="button" class="btn btn-default fixed-btn comment-btn"><span class="glyphicon glyphicon-comment"></span> Comment</button>
    </div>
    <button type="submit" name="submission_type" value="like" class="btn btn-default like-btn pull-right" data-ajax-url="{% url "like" upload.relative_url %}">
        {% if user_has_liked_this_upload %}
            <span class="glyphicon glyphicon-heart"></span>
        {% else %}
            <span class="glyphicon glyphicon-heart-empty"></span>
        {% endif %}
        <span class="likes-label">{{ upload.likes.count }} like{{ upload.likes.count|pluralize }}</span>
    </button>
</form>