{% comment %}
    This is a static version of the Follow button used for presenting an example user profile, which doesn't have the back end implemented yet.
{% endcomment %}
<div class="btn-group follow-btn">
    <button type="button" class="btn">Follow</button>
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Follow</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-ban-circle"></span> Mute</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-flag"></span> Report user</a></li>
        </ul>
    </div>
</div>