<div class="form-unit text-center">
Filling out this form will allow you to upload to the Lost, Found, and Adoption sections.
</div>
{{ user_form.non_field_errors }}
{{ main_form.non_field_errors }}
{{ address_form.non_field_errors }}
<table class="form">
    <tr>
        <th>{{ user_form.first_name.label_tag }}</th>
        <td>
            {{ user_form.first_name.errors }}
            {{ user_form.first_name }}
        </td>
    </tr>
    <tr>
        <th>{{ user_form.last_name.label_tag }}</th>
        <td>
            {{ user_form.last_name.errors }}
            {{ user_form.last_name }}
        </td>
    </tr>
    <tr>
        <th>{{ main_form.phone_number.label_tag }}</th>
        <td>
            {{ main_form.phone_number.errors }}
            {{ main_form.phone_number }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.address_line_1.label_tag }}</th>
        <td>
            {{ address_form.address_line_1.errors }}
            {{ address_form.address_line_1 }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.address_line_2.label_tag }}</th>
        <td>
            {{ address_form.address_line_2.errors }}
            {{ address_form.address_line_2 }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.city.label_tag }}</th>
        <td>
            {{ address_form.city.errors }}
            {{ address_form.city }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.state_or_province.label_tag }}</th>
        <td>
            {{ address_form.state_or_province.errors }}
            {{ address_form.state_or_province }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.country.label_tag }}</th>
        <td>
            {{ address_form.country.errors }}
            {{ address_form.country }}
        </td>
    </tr>
    <tr>
        <th>{{ address_form.zip_code.label_tag }}</th>
        <td>
            {{ address_form.zip_code.errors }}
            {{ address_form.zip_code }}
        </td>
    </tr>
</table>
<div class="field">
    <label for="{{ main_form.date_of_birth.id_for_label }}" class="bold">{{ main_form.date_of_birth.label }} <span class="italics">(optional except for volunteers)</span>:</label>
    <div>
        {{ main_form.date_of_birth.errors }}
        {{ main_form.date_of_birth }}
        <a data-toggle="instant-collapse" data-target="#birthday-info-request-explanation"> Why?<span class="minus">-</span></a>
    </div>
</div>
<div class="form-unit collapse" id="birthday-info-request-explanation">
    If you are 13-18 years old and want to volunteer, organizations which accept volunteers in that age range will be able to filter users according to their preference.
    If you are over 18, your birthday will be used to filter out shelters/rescue centers with an age restriction on adoption during searches.
</div>
{{ main_form.has_volunteering_interest.errors }}
<div class="checkbox has-custom-checkbox">
    <label>
    <div class="custom-checkbox">
        {{ main_form.has_volunteering_interest }}
        {% include "en/public/elements/custom_checkmark.html" %}
    </div>
    {{ main_form.has_volunteering_interest.label }}
    </label>
</div>