{% extends "en/public/base.html" %}
{% block head %}
        {{ block.super }}
        <title>Edit contact information - Meowseum</title>
        {% include "en/public/default_description.html" %}
        {% include "en/public/default_keywords.html" %}
        {% load staticfiles %}
{% endblock %}
{% block body %}
    {% include "en/public/elements/full_page_form.html" with heading="Contact information" action="user_contact_information" main_template="en/public/user_contact_information_main.html" footer_button_label="Save changes" %}
{% endblock %}